.primary
  padding-right: 3%
  float: left
  width: 100%
  +breakpoint(md)
    width: 73%

.secondary
  width: 100%
  float: left
  +breakpoint(md)
    width: 24%

.intro
  p
    margin-top: 20px

.highlights
  margin-top: 25px
  h3
    font-weight: bold
  ul
    padding-left: 18px

.callout
  margin-top: 35px
  background: $dark-green
  padding: 13px 15px
  position: relative
  p
    display: block
    width: 80%
  .mobile-img
    max-width: 105px
    width: 15%
    position: absolute
    right: 15px
    bottom: 13px

.rates
  margin-top: 50px
  .tagline
    display: inline-block
    position: relative
    top: 0
    padding: 10px 0 5px 15px
    margin-left: 8px
    font-weight: normal
    border-left: 1px solid $darker-gray
    height: 30px
  table
    margin-top: 30px
    width: 100%
    td, th
      padding: 10px 15px
    th
      font-size: 12px
      font-weight: normal
    tbody
      tr
        &:first-child td
          font-weight: bold
        &:nth-child(odd)
          background: $light-green
        &:nth-child(even)
          background: $medium-green
      td
        font-size: 18px
        line-height: 24px
  .footnote
    text-align: right
    margin: 10px 0 40px
    font-size: 12px

.login
  font-size: 18px
  line-height: 24px
  font-weight: bold
  color: #fff
  background: $purple
  width: 30%
  padding: 5px
  position: absolute
  top: 60px
  right: 15px
  +breakpoint(md)
    position: relative
    top: 0
    right: 0
    width: 100%
  &:hover
    background: lighten($purple, 7%)

