.footer
  background: $medium-gray
  color: $light-blue
  .copywrite
    width: 90%
    float: left
    margin-top: 20px
    font-size: 16px
    +breakpoint(sm)
      width: 30%
  .navigation
    width: 90%
    margin-top: 10px
    font-size: 16px
    float: left
    display: block
    background: none
    +breakpoint(sm)
      width: auto
      float: right
      margin-top: 20px
    li
      padding-top: 0
      display: inline-block
      &.active
        a
          color: $light-blue
          background: none
    a
      color: $light-blue
      font-size: 14px
      padding: 0
      margin-right: 10px
      +breakpoint(sm)
        padding-top: 10px
        font-size: 16px
      &:hover
        background: none
        color: darken($light-blue, 20%)
