$footer-height: 100px

html
  -ms-text-size-adjust: 100%
  -webkit-text-size-adjust: 100%
  height: 100%

body
  height: 100%
  margin: 0
  font: 16px/1 sans-serif
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased

h1, h2, h3, h4, p, blockquote, figure
  margin: 0
  padding: 0

strong
  font-weight: bold

a, button
  color: inherit
  transition: .3s

a
  text-decoration: none
  &:hover
    color: darken($light-blue, 20%)

button
  overflow: visible
  border: 0
  font: inherit
  -webkit-font-smoothing: inherit
  letter-spacing: inherit
  background: none
  cursor: pointer

\::-moz-focus-inner
  padding: 0
  border: 0

\:focus
  outline: 0

img
  max-width: 100%
  height: auto
  border: 0

table
  border-collapse: collapse
  th, td
    padding: 0
    border: none
    &.number
      text-align: right

.wrapper
  min-height: 100%
  height: 100%
  margin: 0 auto $footer-height
  &:after
    content: ""
    display: block
    height: $footer-height

.footer
  height: $footer-height
  clear: both

body
  box-sizing: border-box

.container
  box-sizing: border-box
  width: 98%
  padding-left: 15px
  padding-right: 15px
  margin: 0 auto
  +breakpoint(md)
    max-width: 960px