$navbar-height: 45px

.header
  width: 100%
  margin-bottom: 65px
  height: $navbar-height
  background: $light-blue
.logo
  width: 40px
  margin-top: 5px
.company-name
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif
  font-size: 25px
  color: $dark-blue
  display: inline-block
  position: relative
  top: -7px
.mobileNavIcon
  display: block
  float: right
  width: 30px
  height: 22px
  margin-top: 10px
  position: relative
  right: -7px
  cursor: pointer
  +breakpoint(sm)
    display: none
.navigation
  display: none
  background: $light-gray
  color: $dark-blue
  margin: 0
  padding: 0
  list-style: none
  width: 98%
  position: relative
  left: 0
  top: 4px
  left: -20px
  right: -20px
  z-index: 99999
  padding-left: 25px
  padding-right: 35px
  +breakpoint(sm)
    top: 0
    left: 0
    width: auto
    background: none
    float: right
    padding-right: 0
    display: block
  li
    &.active
      a
        background: $light-blue
        color: #fff
        font-weight: bold
        +breakpoint(sm)
          background: $medium-blue
          font-weight: bold
    &:hover
      a
        background: $light-blue
        color: #fff
        +breakpoint(sm)
          background: $medium-blue
    +breakpoint(sm)
      display: inline-block
      padding: 12px 0
      margin: 0
      width: auto
      line-height: 1
      &.active a
        background: $medium-blue
  a
    color: $light-blue
    padding: 10px
    border: 0
    display: block
    width: 95%
    font-size: 18px
    +breakpoint(sm)
      color: #fff
      padding: 15px 20px
      font-size: 16px
      display: inline
      &:hover
        background: $medium-blue