$light-blue: #328fc2
$medium-blue: #006899
$dark-blue: #1c264a

$light-gray: #f5f5f5
$medium-gray: #e7e8e9
$dark-gray: #cccccc
$darker-gray: #505050

$light-green: #eef5f0
$medium-green: #ddebe1
$dark-green: #bbd8c4

$purple: #650360

@mixin text-shadow ($string: 0 1px 3px rgba(0, 0, 0, 0.25))
  text-shadow: $string

@mixin box-shadow ($string)
  -webkit-box-shadow: $string
  -moz-box-shadow:    $string
  box-shadow:         $string

@mixin drop-shadow ($x: 0, $y: 1px, $blur: 2px, $spread: 0, $alpha: 0.25)
  -webkit-box-shadow: $x $y $blur $spread rgba(0, 0, 0, $alpha)
  -moz-box-shadow:  $x $y $blur $spread rgba(0, 0, 0, $alpha)
  box-shadow:   $x $y $blur $spread rgba(0, 0, 0, $alpha)

@mixin inner-shadow ($x: 0, $y: 1px, $blur: 2px, $spread: 0, $alpha: 0.25)
  -webkit-box-shadow: inset $x $y $blur $spread rgba(0, 0, 0, $alpha)
  -moz-box-shadow:    inset $x $y $blur $spread rgba(0, 0, 0, $alpha)
  box-shadow:         inset $x $y $blur $spread rgba(0, 0, 0, $alpha)

@mixin box-sizing ($type: border-box)
  -webkit-box-sizing: $type
  -moz-box-sizing:    $type
  box-sizing:         $type

@mixin border-radius ($radius: 5px)
  -webkit-border-radius: $radius
  -moz-border-radius:    $radius
  border-radius:         $radius

  -moz-background-clip:    padding
  -webkit-background-clip: padding-box
  background-clip:         padding-box

@mixin border-radii ($topright: 0, $bottomright: 0, $bottomleft: 0, $topleft: 0)
  -webkit-border-top-right-radius:    $topright
  -webkit-border-bottom-right-radius: $bottomright
  -webkit-border-bottom-left-radius:  $bottomleft
  -webkit-border-top-left-radius:     $topleft

  -moz-border-radius-topright:        $topright
  -moz-border-radius-bottomright:     $bottomright
  -moz-border-radius-bottomleft:      $bottomleft
  -moz-border-radius-topleft:         $topleft

  border-top-right-radius:            $topright
  border-bottom-right-radius:         $bottomright
  border-bottom-left-radius:          $bottomleft
  border-top-left-radius:             $topleft

  -moz-background-clip:    padding
  -webkit-background-clip: padding-box
  background-clip:         padding-box


@mixin opacity ($opacity: 0.5)
  -webkit-opacity: $opacity
  -moz-opacity:    $opacity
  opacity:         $opacity

@mixin gradient ($startColor: #eee, $endColor: white)
  background-color: $startColor
  background: -webkit-gradient(linear, left top, left bottom, from($startColor), to($endColor))
  background: -webkit-linear-gradient(top, $startColor, $endColor)
  background: -moz-linear-gradient(top, $startColor, $endColor)
  background: -ms-linear-gradient(top, $startColor, $endColor)
  background: -o-linear-gradient(top, $startColor, $endColor)

@mixin horizontal-gradient ($startColor: #eee, $endColor: white)
  background-color: $startColor
  background-image: -webkit-gradient(linear, left top, right top, from($startColor), to($endColor))
  background-image: -webkit-linear-gradient(left, $startColor, $endColor)
  background-image: -moz-linear-gradient(left, $startColor, $endColor)
  background-image: -ms-linear-gradient(left, $startColor, $endColor)
  background-image: -o-linear-gradient(left, $startColor, $endColor)

@mixin transition($attr: all, $seconds: 1s, $method: ease)
  -webkit-transition: $attr $seconds $method
  -moz-transition: $attr $seconds $method
  -ms-transition: $attr $seconds $method
  -o-transition: $attr $seconds $method
  transition: $attr $seconds $method

@mixin no-select
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  -o-user-select: none
  user-select: none

@mixin breakpoint($point)
  @if $point == lg
    @media (min-width: 1200px)
      @content
  @else if $point == md
    @media (min-width: 992px)
      @content
  @else if $point == sm
    @media (min-width: 769px)
      @content
  @else if $point == xs
    @media (max-width: 768px)
      @content
  @else if $point == xs-vert
    @media (max-width: 450px)
      @content