.overlay::before
  content: ""
  position: fixed
  top: 0
  bottom: 0
  right: 0
  left: 0
  width: 100%
  height: 100%
  background: #000
  opacity: .5
  z-index: 9999

.modal
  display: none
  position: fixed
  top: 0
  width: 100%
  opacity: 1
  z-index: 99999
  +transition(all, 0s)
  .modal-container
    max-width: 390px
    padding: 30px
    width: 80%
    background: #fff
    margin: 140px auto
    +box-shadow(0 0 10px #000)
    &:after
      content: ""
      display: table
      clear: both
  .title
    margin-bottom: 45px
  .form-group
    clear: both
    display: block
    margin-bottom: 20px
    width: 100%
    float: left
  label
    width: 70px
    height: 30px
    display: block
    font-size: 14px
    float: left
    position: relative
    top: 12px
  input
    width: 300px
    border: 1px solid $light-blue
    display: block
    float: right
    font-size: 16px
    padding: 8px 5px
  .submit
    background: $purple
    color: #fff
    width: 140px
    height: 35px
    font-weight: bold
    float: right
    clear: both
    &:hover
      background: lighten($purple, 7%)
  .closeBtn
    float: right
    position: relative
    top: -15px
    right: -15px