.tabs
  position: relative
  float: left
  width: 100%
  min-height: 400px
  .tab-nav
    list-style: none
    padding-left: 0
    margin-top: 25px
    margin-bottom: 0
    min-height: 42px
    li
      display: inline-block
      border-top: 1px solid $dark-gray
      border-right: 1px solid $dark-gray
      font-size: 18px
      top: 1px
      background: $medium-green
      &:nth-child(2)
        position: relative
        left: -5px
        &.active
          border-left: 1px solid $dark-gray
          padding-left: 1px
      &.active
        background: white
        top: 1px
        position: relative
        z-index: 99
        padding: 1px 1px 0 0
        a
          background: $light-gray
          padding-top: 15px
          top: 0
          color: $darker-gray
      a
        +transition(top, 0s)
        background: $medium-green
        padding: 6px 15px 5px
        display: block
        height: 20px
        border: 0
        position: relative
        top: 1px
  .tab-content
    position: absolute
    border-top: 1px solid $dark-gray
    z-index: 0
    background: $light-gray
    padding: 14px 8px 14px 12px
    min-height: 0
    +breakpoint(md)
      min-height: 340px
      max-width: 205px
    opacity: 0
    width: 98%
    +transition(opacity, .5s, ease)
    &.active
      opacity: 1
      z-index: 88
    .title
      display: block
      font-weight: bold
      border: 0
      font-size: 16px
      margin-bottom: 10px
    &#archive .title
      margin-bottom: 20px
    .teaser
      margin-bottom: 15px
      font-size: 14px
