body, html, p, .footer, #footer, ul, li, h1, h2, h3, h4, h5, h6, small, dd, dt, a, .well
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
  font-weight: 400
  color: $darker-gray

h1
  color: $purple
  font-size: 36px
  line-height: 24px
  font-weight: 300

h2
  font-size: 28px
  line-height: 24px
  font-weight: 300

h3
  font-size: 16px
  line-height: 18px

h4
  color: $purple
  font-size: 16px
  line-height: 24px
  font-weight: bold

p, li
  font-size: 14px
  line-height: 18px

a
  color: $light-blue
  border-bottom: 1px solid $light-blue