.footer
  .container
    .copywrite
      &copy; 2014 URBank
    %ul.navigation
      %li
        %a{:href => "#"} home
      %li
        %a{:href => "#"} employee
      %li.active
        %a{:href => "#"} company
      %li
        %a{:href => "#"} services
      %li
        %a{:href => "#"} contact