.header
  .container
    =image_tag "urbank-logo.png", class: "logo", alt: "URBank logo"
    =image_tag "burger.png", class: "mobileNavIcon", alt: "Show Menu"
    %h1.company-name URBANK
    %ul.navigation
      =nav_link_to 'home', '#'
      =nav_link_to 'employee', '#'
      =nav_link_to 'company', 'company.html'
      =nav_link_to 'services', '#'
      =nav_link_to 'contact', '#'