<!DOCTYPE html>
%html{:lang => 'en'}

%head
  %meta{:charset => "utf-8"}
  %meta{'http-equiv' => "X-UA-Compatible", :content =>"IE=edge,chrome=1"}
  %meta{:name => "description", :content => ""}
  %meta{:name => "author", :content => ""}
  %meta{:name =>"viewport", :content => "width=device-width, initial-scale=1.0"}
  %link{:rel => "icon", :href => "favicon.ico", type: "image/ico"}/
  %title URBank - #{data.page.title}
  = stylesheet_link_tag "application"

%body{class: current_page.data.body_class, ontouchstart: ""}
  .wrapper
    = partial 'layouts/navigation'
    = yield
  = partial 'layouts/footer'

  -if data.page.title == "Company"
    =partial 'loginModal'

  = javascript_include_tag "all.js"