.modal
  .modal-container
    %a#closeModal{:href => "#"}
      =image_tag "modal-close.png", class: "closeBtn", alt: "Close Modal Icon"
    %h2.title Sign In To Your Account
    %form{:action => ""}
      .form-group
        %label{:for => "Username"} Username
        %input#Username{:type => "text"}/
      .form-group
        %label{:for => "Password"} Password
        %input#Password{:type => "text"}/
      %button.submit Login