---
title: "Company"
body_class: "company"
---


.container
  .primary
    .intro
      %h1 Best Bank Ever!
      %p
        Pellentesque habitant morbi tristique senectus et netus et
        %a{:href => "#"} malesuada
        fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris
        %a{:href => "#"} placerat
        eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra.
    .highlights
      %h3 Reasons We're Awesome:
      %ul
        %li Lorem ipsum dolor sit amet.
        %li Aliquam tincidunt mauris eu risus.
        %li Lorem ipsum dolor sit amet.
        %li Lorem ipsum dolor sit amet.
        %li Vestibulum auctor dapibus neque.
    .callout
      %h4 Amazing Mobile Info
      %p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.
      =image_tag "phone-illustration.png", class: "mobile-img", alt: "mobile phone illustration"
    .rates
      %h2
        Rates
        .tagline Check them out.
      %table#bankRates
        %thead
          %tr
            %th
            %th.number Annual Percentage Yield
            %th.number Est. Earnings for 1 Year*
        %tbody
      .footnote
        *Based on $50,000 deposit.
  .secondary
    %button#loginBtn.login Login
    .tabs
      %ul.tab-nav
        %li.active
          %a{:href => "#news"} News
        %li
          %a{:href => "#archive"} Archive
      #news.tab-content.active
        -(1..3).each do
          %a.title{:href => "#"} Lorem ipsum dolor
          %p.teaser
            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
      #archive.tab-content
        -(1..8).each do
          %a.title{:href => "#"} Lorem ipsum dolor

